<html>
  body
    div You received a new inquiry
    br
    div Name: #{leadInfo.fname} #{leadInfo.lname}
    br
    div Email: #{leadInfo.email}
    br
    div Phone: #{leadInfo.phone}
    br
    div Event date: #{leadInfo.date}
    br
    div Guests: #{guests[leadInfo.guests]} 
    br
    div Budget: #{budget[leadInfo.budget]}
    br
    div Message: #{leadInfo.message}
</html>